<script>
	if (screen.width < 992) {
		// for small screens, load the mobile css
		let link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = 'https://searchanise-ef84.kxcdn.com/results_big_pictures_new.mobile.08918.css';

		// Get HTML head element to append link element to it
		document.getElementsByTagName('HEAD')[0].appendChild(link);
	}
</script>

<script src="{{ 'address-search-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'turf.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'perform-search.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'on-page-load.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
    <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
              fill="currentColor"/>
    </symbol>

    <symbol id="icon-reset" class="icon icon-close" fill="none" viewBox="0 0 18 18"
            stroke="currentColor">
        <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
        <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round"
              transform="translate(5 5)"/>
        <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round"
              transform="translate(5 5)"/>
    </symbol>

    <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
              fill="currentColor"/>
    </symbol>
</svg>

<!-- prettier-ignore -->
<!-- See https://github.com/googlemaps/extended-component-library for docs and updates. -->
<script type="module" src="https://ajax.googleapis.com/ajax/libs/@googlemaps/extended-component-library/0.6.11/index.min.js"></script>
<script src="{{ 'handle-place-change.js' | asset_url }}" async></script>
<script src="{{ 'check-for-address-in-url.js' | asset_url }}" async></script>
<script src="{{ 'init-autocomplete.js' | asset_url }}" async></script>

<div class="template-search section-{{ block.id }}-padding" id="main-div">
    <div class="template-search__header page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        <div class="template-search__search">
            <address-search-form>
                <form role="search" class="search" id="search-form">
                    <div class="field" id="hiddenDiv" style="display: none"></div>
                    <div class="field" id="addressFieldDiv" style="display: none;">
						{% if block.settings.google_maps_api_key != blank %}
							<gmpx-api-loader
									key="{{ block.settings.google_maps_api_key }}"
									solution-channel="GMP_GCC_placepicker_v1">
							</gmpx-api-loader>
						{% else %}
							<p style="color: red;">
								Google Maps is not configured. Please add your API key in the theme editor.
							</p>
						{% endif %}

						<div class="field placePickerContainer" id="placePickerContainer">
							<gmpx-place-picker placeholder="{{ 'address-search.form.address_label' | t }}"></gmpx-place-picker>
						</div>

                        <input type="hidden" name="locality" id="locality" value="">
                        <input type="hidden" name="state" id="state" value="">
                        <input type="hidden" name="lat" id="lat" value="">
                        <input type="hidden" name="lon" id="lon" value="">

                        <span class="Polaris-Spinner Polaris-Spinner--sizeLarge loading_indicator hidden" id="spinner">
							<svg viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.542 1.487A21.507 21.507 0 00.5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 00-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 10-.9-2.863z">
								</path>
							</svg>
						</span>
                    </div>
                </form>
            </address-search-form>
        </div>
    </div>
    <div class="page-content" id="page-content-div" style="padding-bottom: 0; display: none">
        <div class="snize-search-results-main-content" id="snize-search-results-main-content">
            <header class="section-header" id="search-results-header">
                <h1 class="section-header__title" id="search-results-header-text"
                    style="display: none;">
                    Your Search Results
                </h1>
            </header>
            <div id="snize-search-results-grid-mode">
                <ul class="snize-search-results-content clearfix" id="search-results-ul">
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
	"name": "Map Address Search",
	"target": "section",
	"stylesheet": "map-address-search.css",
	"settings": [
		{
			"type": "text",
			"id": "google_maps_api_key",
			"label": "Google Maps API Key"
		},
		{
			"type": "range",
			"id": "columns_desktop",
			"min": 1,
			"max": 5,
			"step": 1,
			"default": 4,
			"label": "t:sections.main-search.settings.columns_desktop.label"
		},
		{
			"type": "header",
			"content": "t:sections.main-search.settings.header_mobile.content"
		},
		{
			"type": "select",
			"id": "columns_mobile",
			"default": "2",
			"label": "t:sections.main-search.settings.columns_mobile.label",
			"options": [
				{
					"value": "1",
					"label": "t:sections.main-search.settings.columns_mobile.options__1.label"
				},
				{
					"value": "2",
					"label": "t:sections.main-search.settings.columns_mobile.options__2.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.section_padding_heading"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_bottom",
			"default": 36
		}
	]
}
{% endschema %}
